<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" type="text/css"
    href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script>

  

  </script>
</head>
<body>
  <div id="map" style="width: 100%; height: 600px; background: grey" />
 <input type="text" id="text_dst_address" name="text_dst_address" value="Wittstocker Strasse 9, 10553 Berlin" onkeydown="keyyydown(this)" data-clear-btn="true"><!--<input type="submit" value="get my bike!" onclick="findBike();">-->

<script  type="text/javascript" charset="UTF-8" >
var domain = "{{domain}}";
var _app_id = "{{app_id}}";
var _app_code = "{{app_code}}";

function keyyydown(ele){
  if(event.keyCode == 13) {
      findBike();        
  }
}


$(document).ready(function(){
  //resizeDiv();
});

window.onresize = function(event) {
  resizeDiv();
}

function resizeDiv() {
  var vpw = $(window).width();
  var vph = $(window).height();

  $('#map').css({'height': vph + 'px'});
  $('#map').css({'width': vpw + 'px'});
  document.getElementById("map").style.marginTop = "0px";
  document.getElementById("map").style.marginLeft = "0px";

}



//$(document).ready(function() {        
  
  //$("#text_dst_address").addClass("ui-corner-all");
//  alert('hu');
//});
</script>
<script src="http://{{domain}}/map.js"></script>
</body>
</html>